<h1> Welcome to the Tamagotchi Generator!</h1>

<form action="/result" method="get">
  <label for="name">Your Tamagotchi's name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Create my Tamagotchi!</button>
</form>
